

<div class="row section3-row">
    <div class="section3">
        <div class="col-md-7 col-sm-12 col-xs-12 section1-text">
            <h1 class="h1-index  h1-centered">Download our free PDF:</h1>
            <h2 class="h2-section3">"Modern development: 6 Mistakes you have to avoid" </h2>
            <p>We see a lot of costly mistakes that should be avoided when doing software projects. They happen at all growth stages - both at startups and at corporates. Get our free PDF below and save time and money.</p>

            <div class="col-md-12 col-sm-12 col-xs-12 mail-box">

                <!-- Begin MailChimp Signup Form -->
                @*<div id="mc_embed_signup">
                    <form action="//jarboo.us9.list-manage.com/subscribe/post?u=d7f26f1c6e2ffe07ab5b7efd5&amp;id=60e680a9bd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email mail-input" id="mce-EMAIL" placeholder="E-Mail address">
            </div>
            <div id="mce-responses" class="clear">
                <div class="response" id="mce-error-response" style="display: none"></div>
                <div class="response" id="mce-success-response" style="display: none"></div>
            </div>
            <div style="position: absolute; left: -5000px;">
                <input type="text" name="b_d7f26f1c6e2ffe07ab5b7efd5_60e680a9bd" tabindex="-1" value="">
            </div>
            <div class="clear">
                <input type="submit" value="GET FREE PDF" name="subscribe" id="mc-embedded-subscribe" class="button get-pdf-button">
                <input type="hidden" name="JARBOO_PLA" id="JARBOO_PLA" value="GetPdfEbook" />
            </div>
        </div>
    </form>*@
                <form action="@Url.Action("Subscribe", "Home")" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" novalidate>
                    @Html.AntiForgeryToken()               
                    <div id="mc_embed_signup_scroll">
                        <div class="mc-field-group">
                            <input type="email" value="" name="EMAIL" class="required email mail-input" id="mce-EMAIL" placeholder="E-Mail address">
                        </div>
                        <div class="clear">
                            <input type="submit" value="GET FREE PDF" name="subscribe" id="mc-embedded-subscribe" class="button get-pdf-button"/>
                            <input type="hidden" name="JarbooPlacement" id="JARBOO_PLA" value="GetPdfEbook"/>
                            <input type="hidden" name="redirectUrl" value="@Url.Action("NewsletterSignUp", "Home")"/>
                            <input type="hidden" name="returnUrl" value="@Url.Action("Index", "Home")"/>
                        </div>
                    </div>
                </form>
                </div>
                <!--End mc_embed_signup-->
            </div>
        </div>
        <div class="col-md-5 hidden-md hidden-sm hidden-xs">
            <div class="pdf-download-section-img">
                <img src="@Url.Content("~/assets/images/pdf.png")" alt="pdf" class="instant-prices">
            </div>
        </div>
    </div>
    
</div>
