<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/assets/images/favico.png")">
    @Styles.Render("~/Content/css")
    @RenderSection("Header", false)
</head>
<body>

    <div class="row above-header-CTA hidden-md hidden-lg">
        <div class="hidden-md col-sm-12 col-xs-12">
            <a href="@Url.Action("DiscussProject", "Lead")"><button class="CTA-button-full-head-small-devices">DISCUSS A PROJECT</button></a>
        </div>
    </div>

    <nav class="navbar navbar-default" id="NavigationSection">
        <div class="header-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/assets/images/logo.png")" alt="" style="width: 100%;"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>@Html.ActionLink("Home", "Index", "Home", null, new { id = "active" })</li>
                    <li>@Html.ActionLink("Solving development", "About", "Home")</li>
                    <li>@Html.ActionLink("References", "References", "Home")</li>
                    <li>@Html.ActionLink("Resources", "Index", "Page", new { slug = "resources" }, new { })</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "header-li-margin-element" })</li>
                    <li><a href="@Url.Action("DiscussProject", "Lead")" style="padding:0;"><button class="CTA-button-full-head">DISCUSS A PROJECT</button></a></li>
                </ul>
            </div>
        </div>
    </nav>




    @RenderBody()

    @*<hr />
    <div class="row CTA-section">
        <div class="CTA-wrapper">
            <div class="col-md-6 col-sm-12 col-xs-12 section1-text">
                <h2 class="CTA-h2">Solve your development:</h2>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 CTA-buttons-CTA">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <button class="CTA-button-full-CTA">DISCUSS A PROJECT</button>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <button class="CTA-button-ghost-CTA">CONTACT US</button>
                </div>
            </div>
        </div>
    </div>*@

    <div class="row footer">
        <div class="footer-wrapper">
            <div class="col-md-2 col-sm-3 col-xs-12 section1-text">
                <ul class="">
                    <li class="footer-category-title">Naslov</li>
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li><a href="#">Who we are</a></li>
                    <li><a href="#">Success Stories </a></li>
                    <li><a href="#">How it workes</a></li>
                    <li><a href="#">Careers</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12 section1-text">
                <ul class="">
                    <li class="footer-category-title">Info</li>
                    <li><a href="picks">FAQ</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12 section1-text">
                <ul class="">
                    <li class="footer-category-title">Contact</li>
                    <p class="footer-p">mail@jarboo.com</p>
                </ul>
            </div>
            <div class="col-md-2 col-sm-3 col-xs-12 section1-text">
                <ul class="">
                    <li class="footer-category-title">Address</li>
                    <p class="footer-p">Street name 3.</p>
                    <p class="footer-p">City</p>
                    <p class="footer-p">Denmark</p>
                </ul>
            </div>
            <div class="col-md-2 hidden-sm col-xs-12 section1-text"></div>

            <div class="col-md-2 hidden-sm hidden-xs">
                <img src="@Url.Content("~/assets/images/logo.png")" alt=" ">
            </div>
        </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>