@using Website.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@ViewBag.Title</title>
    <link rel="icon" type="image/png" href="@Url.Content("~/assets/images/favico.png")">
    <link href='https://fonts.googleapis.com/css?family=Raleway:300' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @RenderSection("Header", false)

    <script>
        (function () {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
            }
            _fbq.push(['addPixelId', '883873758344579']);
        })();
            window._fbq = window._fbq || [];
            window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=883873758344579&amp;ev=PixelInitialized" /></noscript>
</head>
<body>

    <div class="row above-header-CTA hidden-md hidden-lg">
        <div class="hidden-md col-sm-12 col-xs-12">
            <a href="@Url.Action("DiscussProject", "Lead")"><button class="CTA-button-full-head-small-devices">DISCUSS A PROJECT</button></a>
        </div>
    </div>

    <nav class="navbar navbar-default" id="NavigationSection">
        <div class="header-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/assets/images/logo.png")" alt="" style="width: 100%;"></a>
            </div>
            <li class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="@Html.IsActive("Index", "Home")">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li class="@Html.IsActive("About", "Home")">@Html.ActionLink("Solving development", "About", "Home")</li>
                    <li class="@Html.IsActive("References", "Home")">@Html.ActionLink("References", "References", "Home")</li>
                    <li class="dropdown">
                        <a class="@Html.IsActive("Index", "Page") btn btn-primary dropdown-toggle button-dropdown" href="@Url.Action("Index", new {controller = "Page", slug = "resources"})">
                            Resources
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="@Html.IsActive("Index", "Page")">@Html.ActionLink("Services", "Index", "Page", new { slug = "resources" }, new { })</li>
                            <li class="divider"></li>
                            <li><a href="#">Blog</a></li>
                        </ul>
                    </li>
                    <li class="@Html.IsActive("Contact", "Home")">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "header-li-margin-element" })</li>
                    <li>
                        <a href="@Url.Action("DiscussProject", "Lead")" style="padding: 0;"><button class="CTA-button-full-head">DISCUSS A PROJECT</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>




    @RenderBody()

    @*<hr />
    <div class="row CTA-section">
        <div class="CTA-wrapper">
            <div class="col-md-6 col-sm-12 col-xs-12 section1-text">
                <h2 class="CTA-h2">Solve your development:</h2>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 CTA-buttons-CTA">
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <button class="CTA-button-full-CTA">DISCUSS A PROJECT</button>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12">
                    <button class="CTA-button-ghost-CTA">CONTACT US</button>
                </div>
            </div>
        </div>
    </div>*@

    <div class="row footer">
        <div class="footer-wrapper">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12 section1-text-footer">
                    <ul class="footer-ul">
                        <li class="footer-category-title">Pages</li>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Solving development", "About", "Home")</li>
                        <li>@Html.ActionLink("References", "References", "Home")</li>
                        <li>@Html.ActionLink("Resources", "Index", "Page", new { slug = "resources" }, new { })</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Discuss project", "DiscussProject", "Lead")</li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12 section1-text-footer">
                    <ul class="">
                        <li class="footer-category-title">Address</li>
                        <p class="footer-p">Thuavej 5</p>
                        <p class="footer-p">3650 Ølstykke</p>
                        <p class="footer-p">Denmark</p>
                    </ul>
                </div>

                <div class="col-md-2 hidden-sm col-xs-12 section1-text-footer">
                    <ul class="">
                        <li class="footer-category-title">Company registration</li>
                        <li class="footer-p">YouFirm IvS</li>
                        <li class="footer-p">DK36406208</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 section1-text-footer">
                    <ul class="">
                        <li class="footer-category-title">Contact</li>
                        <li class="footer-p">info@jarboo.com</li>
                        <li class="footer-p">(+45) 6179 3650</li>

                    </ul>
                </div>
                <div class="col-md-1 col-sm-3 col-xs-12 section1-text-footer">
                    @*<ul class="">
                    <li class="footer-category-title">Info</li>
                    <li><a href="picks">FAQ</a></li>
                    <li><a href="#">Terms of Use</a></li>
                    <li><a href="#">Privacy</a></li>
                </ul>*@
                </div>

                <div class="col-md-2 hidden-sm hidden-xs">
                    <img src="@Url.Content("~/assets/images/logo.png")" alt=" ">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 section1-text-footer-social">
                <div class="social-icons">
                    <div class="social-icons-facebook">
                        <a href="https://www.facebook.com/jarboocom"><img src="@Url.Content("~/assets/images/facebook.png")" alt="facebook"></a>
                    </div>
                    <div class="social-icons-twitter">
                        <a href="https://twitter.com/jarboocom"><img src="@Url.Content("~/assets/images/twitter.png")" alt="twitter"></a>
</div>
                </div>
            </div>
    </div>



    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script type="text/javascript">
	    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	    })(window,document,'script','//www.google-analytics.com/analytics.js','__gaTracker');

	    __gaTracker('create', 'UA-57473586-1', 'auto');
	    __gaTracker('set', 'forceSSL', true);
	    __gaTracker('require', 'displayfeatures');
	    __gaTracker('send','pageview');

    </script>

    <script type="text/javascript">
	    $('ul.nav li.dropdown').hover(function() {
          $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
        }, function() {
          $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
        });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>