@using Website.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>@Html.Raw(ViewBag.Title)</title>
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,500' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Merriweather:400' rel='stylesheet' type='text/css'>
    @Styles.Render("~/Content/css")
    @RenderSection("Header", false)

    <script>
        (function () {
            var _fbq = window._fbq || (window._fbq = []);
            if (!_fbq.loaded) {
                var fbds = document.createElement('script');
                fbds.async = true;
                fbds.src = '//connect.facebook.net/en_US/fbds.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(fbds, s);
                _fbq.loaded = true;
            }
            _fbq.push(['addPixelId', '883873758344579']);
        })();
        window._fbq = window._fbq || [];
        window._fbq.push(['track', 'PixelInitialized', {}]);
    </script>
    <noscript><img height="1" width="1" alt="" style="display:none" src="https://www.facebook.com/tr?id=883873758344579&amp;ev=PixelInitialized" /></noscript>

    <!-- Start of Sleeknote signup and lead generation tool - www.sleeknote.com -->
    <script id='sleeknoteScript' type='text/javascript'>
    (function () {        var sleeknoteScriptTag = document.createElement('script');
        sleeknoteScriptTag.type = 'text/javascript';
        sleeknoteScriptTag.charset = 'utf-8';
        sleeknoteScriptTag.src = ('//sleeknotecustomerscripts.sleeknote.com/2736.js');
        var s = document.getElementById('sleeknoteScript');
        s.parentNode.insertBefore(sleeknoteScriptTag, s);
    })();
    </script>
    <!-- End of Sleeknote signup and lead generation tool - www.sleeknote.com-->

</head>
<body>
    <!-- Google Tag Manager -->
    <noscript><iframe src="//www.googletagmanager.com/ns.html?id=GTM-KKXH87" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <script>
    (function(w, d, s, l, i) {
        w[l] = w[l] || []; w[l].push({
        'gtm.start':
        new Date().getTime(), event: 'gtm.js'
        }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
        '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-KKXH87');
    </script>
    <!-- End Google Tag Manager -->

    <div class="row above-header-CTA hidden-md hidden-lg">
        <div class="hidden-md col-sm-12 col-xs-12">
            <a href="@Url.Action("DiscussProject", "Lead")"><button class="CTA-button-full-head-small-devices">DISCUSS A PROJECT</button></a>
        </div>
    </div>

    <nav class="navbar navbar-default" id="NavigationSection">
        <div class="header-container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")"><img src="@Url.Content("~/assets/images/logo.png")" alt="" style="width: 100%;"></a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li id="navbar-li" class="@Html.IsActive("Index", "Home")">@Html.ActionLink("Home", "Index", "Home")</li>
                    <li id="navbar-li" class="@Html.IsActive("About", "Home")">@Html.ActionLink("Solving development", "About", "Home")</li>
                    <li id="navbar-li" class="@Html.IsActive("References", "Home")">@Html.ActionLink("References", "References", "Home")</li>
                    <li id="navbar-li" class="@Html.IsActive("Index", "Page")">@Html.ActionLink("Resources", "Index", "Page", new { slug = "" }, null)</li>
                    <li id="navbar-li" class="@Html.IsActive("Blog", "Page")">@Html.ActionLink("Blog", "Blogs", "Page")</li>
                    @*<li id="navbar-li" class="dropdown">
                        <a class="@Html.IsActive("Index", "Page") btn btn-primary dropdown-toggle button-dropdown" href="@Url.Action("Index", "Page")">
                            Resources
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li class="@Html.IsActive("Services", "Page")">@Html.ActionLink("Services", "Services", "Page", new { slug = "" }, null)</li>
                            <li class="divider"></li>
                            <li class="@Html.IsActive("Blog", "Page")">@Html.ActionLink("Blog", "Blogs", "Page")</li>
                        </ul>
                    </li>*@
                    <li id="navbar-li" class="@Html.IsActive("Contact", "Home")">@Html.ActionLink("Contact", "Contact", "Home", null, new { @class = "header-li-margin-element" })</li>
                    <li>
                        <a href="@Url.Action("DiscussProject", "Lead")" style="padding: 0;"><button class="CTA-button-full-head">DISCUSS A PROJECT</button></a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    @RenderBody()

    @*<hr />
        <div class="row CTA-section">
            <div class="CTA-wrapper">
                <div class="col-md-6 col-sm-12 col-xs-12 section1-text">
                    <h2 class="CTA-h2">Solve your development:</h2>
                </div>
                <div class="col-md-6 col-sm-12 col-xs-12 CTA-buttons-CTA">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <button class="CTA-button-full-CTA">DISCUSS A PROJECT</button>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <button class="CTA-button-ghost-CTA">CONTACT US</button>
                    </div>
                </div>
            </div>
        </div>*@

    <div class="row footer">
        <div class="footer-wrapper">
            <div class="row">
                <div class="col-md-2 col-sm-3 col-xs-12 section1-text-footer">
                    <ul class="footer-ul">
                        <li class="footer-category-title">Pages</li>
                        <li>@Html.ActionLink("Home", "Index", "Home")</li>
                        <li>@Html.ActionLink("Solving development", "About", "Home")</li>
                        <li>@Html.ActionLink("References", "References", "Home")</li>
                        <li>@Html.ActionLink("Resources", "Index", "Page", new { slug = "" }, null)</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        <li>@Html.ActionLink("Discuss project", "DiscussProject", "Lead")</li>
                    </ul>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-12 section1-text-footer">
                    <ul class="">
                        <li class="footer-category-title">Address</li>
                        <p class="footer-p">Thuavej 5</p>
                        <p class="footer-p">DK3650 Ølstykke</p>
                        <p class="footer-p">Denmark</p>
                    </ul>
                </div>

                <div class="col-md-2 hidden-sm col-xs-12 section1-text-footer">
                    <ul class="">
                        <li class="footer-category-title">Company registration</li>
                        <li class="footer-p">Jarboo</li>
                        <li class="footer-p">DK36406208</li>
                    </ul>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 section1-text-footer">
                    <ul class="">
                        <li class="footer-category-title">Contact</li>
                        <li class="footer-p">info@jarboo.com</li>
                        <li class="footer-p">(+45) 3073 6540</li>

                    </ul>
                </div>
                <div class="col-md-1 col-sm-3 col-xs-12 section1-text-footer">
                    @*<ul class="">
                            <li class="footer-category-title">Info</li>
                            <li><a href="picks">FAQ</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy</a></li>
                        </ul>*@
                </div>

                <div class="col-md-2 hidden-sm hidden-xs">
                    <img src="@Url.Content("~/assets/images/logo.png")" alt=" ">
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 section1-text-footer-social">
                <div class="social-icons">
                    <div class="social-icons-facebook">
                        <a href="https://www.facebook.com/jarboocom"><img src="@Url.Content("~/assets/images/facebook.png")" alt="facebook"></a>
                    </div>
                    <div class="social-icons-twitter">
                        <a href="https://twitter.com/jarboocom"><img src="@Url.Content("~/assets/images/twitter.png")" alt="twitter"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/javascript">
        $('ul.nav li.dropdown').hover(function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(200);
        }, function () {
            $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(200);
        });
    </script>
    <!-- This site is converting visitors into subscribers and customers with OptinMonster - http://optinmonster.com --><div id="om-c2ozfsge1xw2qqyp-holder"></div>
    <script>var c2ozfsge1xw2qqyp,c2ozfsge1xw2qqyp_poll=function(){var r=0;return function(n,l){clearInterval(r),r=setInterval(n,l)}}();!function(e,t,n){if(e.getElementById(n)){c2ozfsge1xw2qqyp_poll(function(){if(window['om_loaded']){if(!c2ozfsge1xw2qqyp){c2ozfsge1xw2qqyp=new OptinMonsterApp();return c2ozfsge1xw2qqyp.init({u:"11640.221741",staging:0,dev:0});}}},25);return;}var d=false,o=e.createElement(t);o.id=n,o.src="//a.optinmonster.com/app/js/api.min.js",o.onload=o.onreadystatechange=function(){if(!d){if(!this.readyState||this.readyState==="loaded"||this.readyState==="complete"){try{d=om_loaded=true;c2ozfsge1xw2qqyp=new OptinMonsterApp();c2ozfsge1xw2qqyp.init({u:"11640.221741",staging:0,dev:0});o.onload=o.onreadystatechange=null;}catch(t){}}}};(document.getElementsByTagName("head")[0]||document.documentElement).appendChild(o)}(document,"script","omapi-script");</script><!-- / OptinMonster -->
    @RenderSection("scripts", required: false)
</body>
</html>
