@using Services.Domain.Case
@model System.Collections.Generic.List<Services.Domain.Case.Case>

@{
    ViewBag.Title = "Cases";
}

<h1>Cases</h1>

@Html.ActionLink("New case","NewCase","Case")

<table class="table table-stripped">
    <thead>
    <tr>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            Slug
        </th>
        <th>
            DownloadUrl
        </th>

        <th>
            Edit
        </th>

    </tr>
    </thead>
    <tbody>
        @foreach (Case a_case in Model)
        {
            <tr>
                <td>
                    @a_case.Title
                </td>
                <td>
                    @a_case.Description
                </td>
                <td>
                    @a_case.Slug
                </td>
                <td>
                    @a_case.DownloadUrl
                </td>
                
                <td>
                    @Html.ActionLink("Edit","EditCase","Case",new {slug=a_case.Slug},null)
                </td>
            </tr>
        }
    </tbody>
</table>