@model Services.Domain.Case.Case

@{
    ViewBag.Title = "New case";
}

<h1>New case</h1>

@using (Html.BeginForm("NewCase", "Case", FormMethod.Post))
{

    <div class="form-group">
        <div>
            @Html.LabelFor(m => m.Title, new {@class = "control-label"})
            @Html.TextBoxFor(m => m.Title, new { required = "required", @class="form-control" })
        </div>
    </div>
    <div class="form-group">
        <div>

            @Html.LabelFor(m => m.Slug, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.Slug, new { required = "required", @class = "form-control" })

        </div>
    </div>


    <div class="form-group">
        <div>
            @Html.LabelFor(m => m.Description, new { @class = "control-label" })
            @Html.TextAreaFor(m => m.Description, new { required = "required", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div>
            @Html.LabelFor(m => m.LowerDescriptionHeadline, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.LowerDescriptionHeadline, new { required = "required", @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div>
            @Html.LabelFor(m => m.LowerDescription, new { @class = "control-label" })
            @Html.TextAreaFor(m => m.LowerDescription, new { required = "required", @class = "form-control" })
        </div>
    </div>


    <div class="form-group">
        <div>
            @Html.LabelFor(m => m.DownloadUrl, new { @class = "control-label" })
            @Html.TextBoxFor(m => m.DownloadUrl, new { required = "required", @class = "form-control" })
        </div>
    </div>

    <input type="submit" class="btn btn-success" value="Create" />
}