@model Website.Models.HomeViewModel
@{
    ViewBag.Title = "Jarboo - Build anything";
}

<div class="row section1">
    <div class="col-md-7 col-sm-12 col-xs-12 section1-text">
        <h1 class="h1-index h1-centered">
            Are you tired of how software <br/> development works today?
        </h1>
        <p>
            Are you tired of missing deadlines, paying a lot of money and not receiving the software you really wanted? We were too, and so we founded Jarboo.
        </p>
        <p>Jarboo provides affordable, scaleable and reliable development - on time.</p>
        <div class="row buttons-section1">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <a href="@Url.Action("DiscussProject", "Lead")"><button class="CTA-button-full-section1">DISCUSS A PROJECT</button></a>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <a href="@Url.Action("Contact", "Home")"><button class="CTA-button-ghost-section1">CONTACT US</button></a>
            </div>
        </div>
        <p class="fun-fact">Did you know that we're cheaper than employees, and we have no minimum project sizes?</p>
    </div>
    <div class="col-md-5 col-sm-12 col-xs-12 section1-image">
        <img src="@Url.Content("~/assets/images/instant-prices.png")" alt="" class="instant-prices">
        <h4 class="index-consulting">Having a project? <br> Get a free chat about anything technical</h4>
    </div>
</div>





<div class="row section2-index">
    <div class="section2-index-wrapper">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1 class="section2-index-h1">We have found a new way to <br> do software development
            </h1>
            <h3 class="section2-index-h3">We are mix of employees, consultants and outsourcing</h3>
        </div>

        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="section2-index-icon-holder">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section2-img-centering">
                        <img src="@Url.Content("~/assets/images/empl.png")" alt="Employees">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3 class="section2-index-icon-title">Employees</h3>
                    <p class="section2-index-icon-p"><i>are great for building teams with domain knowledge, but they are expensive, not scalable and difficult to hire. </i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="section2-index-icon-holder">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section2-img-centering">
                        <img src="@Url.Content("~/assets/images/cons.png")" alt="Consultants">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3 class="section2-index-icon-title">Consultants</h3>
                    <p class="section2-index-icon-p"><i>Consultants are technical domain experts and scalable, but very expensive and not always loyal to the end.</i>
                    </p>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
            <div class="section2-index-icon-holder">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="section2-img-centering">
                        <img src="@Url.Content("~/assets/images/outso.png")" alt="">
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3 class="section2-index-icon-title">Outsourcing</h3>
                    <p class="section2-index-icon-p"><i>is affordable and scalable, but with no critical and important feedback, very difficult to manage and a lot of time can be spent on mistakes.</i>
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-12 col-sm-12 col-xs-12 jarboo-is-awesome-text">
            <h3 class="section2-index-h3">Jarboo is the best from all worlds.</h3>
            <p class="section2-index-p">You receive a loyal team, and you pay for hours used (with no minimum project size). </p>
            <p class="section2-index-p">It's cheaper than employees. </p>
            <p class="section2-index-p">Your main contact person is an experienced project manager who understands both business and technology. </p>
            <p class="section2-index-p"> All code is designed and reviewed by a strong technical architect. </p>
            <p class="section2-index-p"> You’re challenged with important questions which normal outsourcers would never ask. </p>

                <a href="@Url.Action("About", "Home")"><button class="jarboo-is-awesome-btn">SEE HOW WE DO IT</button></a>
</div>
    </div>
</div>

<div class="row testemonial-section">
    <div class="section2-index-wrapper">
        <div class="col-md- col-sm-12 col-xs-12 section1-text">
            <h1 class="h1-index  h1-centered">What are our customers saying?</h1>
        </div>
        <div class="col-md-3 col-sm-12 col-xs-12">
            <div class="client-holder">
                <img src="@Url.Content("~/assets/images/monera.png")" alt="Monera">
            </div>
            <h3 class="client-name">Maximilian Frimmer</h3>
            <p class="client-position">CEO and co-founder at Monera</p>
        </div>
        <div class="col-md-9 col-sm-12 col-xs-12 testemonial">
            <p><i>"Being the founder of Monera, a startup in the finance industry, I know one of the key differentiators is great software.<br /></br />
                   However, where do you find great developers? Hiring is expensive and very risky, consultants are just way too expensive and while outsourcing is cheap, it lacks so many things regarding scalability, user experience, security and feedback on technical solution.<br /></br />
                   I turned to Jarboo which works as a scaleable development team. I am challenged with important questions, tasks are delivered within the deadline and it's very affordable. I will recommend Jarboo to anyone, also for later stage companies than ours."</i></p>
            <a href="@Url.Action("References", "Home")" class="underline">Read more about our work</a>
        </div>
    </div>
</div>

<div class="row company-logo-section">
    <div class="index-wrapper">
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin">
            <div class="company-logo-img-hodler">
                <img src="@Url.Content("~/assets/images/references/saxo.png")" alt="Saxo">
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin">
            <div class="company-logo-img-hodler">
                <img src="@Url.Content("~/assets/images/references/shipbeat.png")" alt="Shipbeat">
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin">
            <div class="company-logo-img-hodler">
                <img src="@Url.Content("~/assets/images/references/USA-tours.png")" alt="USA-tours">
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin">
            <div class="company-logo-img-hodler">
                <img src="@Url.Content("~/assets/images/BilligeFly.png")" alt="BilligeFlybilletter">
            </div>
        </div>
        <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="client-link">
                <a href="@Url.Action("References", "Home")" class="underline">See more clients we've worked with</a>
            </div>
        </div>
    </div>
</div>

<div class="row case-study">
    <div class="index-wrapper">
        <div class="col-md-12 col-sm-12 col-xs-12 section1-text">
            <h1 class=" h1-centered">Our case studies</h1>
        </div>

        @foreach (var ourCase in Model.Cases)
        {
            @Html.Partial("_Case", ourCase)
        }
        
        <div class="col-md-12 col-sm-12 col-xs-12 brands" style="margin-top: 20px;">
            <a href="@Url.Action("References")"  class="underline" >See all cases</a>
        </div>
    </div>
</div>

@Html.Partial("_Ebook")

<div class="row CTA-section">
    <div class="CTA-wrapper">
        <div class="col-md-6 col-sm-12 col-xs-12 section1-text">
            <h2 class="CTA-h2">Solve your development:</h2>
        </div>
        <div class="col-md-6 col-sm-12 col-xs-12 CTA-buttons-CTA">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <button onclick="location.href ='@Url.Action("DiscussProject","Lead")'" class="CTA-button-full-CTA">DISCUSS A PROJECT</button>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <button onclick="location.href='@Url.Action("Contact","Home")'" class="CTA-button-ghost-CTA">CONTACT US</button>
            </div>
        </div>
    </div>
</div>
