@model Website.Models.ReferencesViewModel

@{
    ViewBag.Title = "References and case studies - Jarboo";
}



<div class="row reference-section1">
    <div class="wrapper-solving-section2">
        <div class="col-md-12 col-sm-12 col-xs-12">
            <h1>We do quality work for a wide range of clients</h1>
            <h3>Customers in different growth stages</h3>
            <p>
                Some random text fould go nicely here just to fill up the space, so if you could write up something just to go here, that would be great! If not, we can always leave this random text that I am just typing now, because why not?
            </p>
            <div class="row">
                <div class="col-md-6 col-sm-12 col-xs-12 solving-section2-icontext-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12 reference-growth-company">
                        <img src="@Url.Content("~/assets/images/saxo.png")" alt="">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <h4 class="references-h4">The most popular webshop in Denmark 2014</h4>
                        <p class="solving-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo le</p>
                    </div>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12 solving-section2-icontext-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12 reference-growth-company">
                        <img src="@Url.Content("~/assets/images/monera-logo.png")" alt="">
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12 ">
                        <h4 class="references-h4">New startup in the finance industry</h4>
                        <p class="solving-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo le</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12 solving-section2-icontext-wrapper">
                <div class="col-md-12 col-sm-12 col-xs-12 reference-growth-company">
                    <img src="@Url.Content("~/assets/images/USA-tours.png")" alt="">

                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="references-h4">Travel agent for US trips</h4>
                    <p class="solving-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo le</p>
                </div>
            </div>

            <div class="col-md-6 col-sm-12 col-xs-12 solving-section2-icontext-wrapper">
                <div class="col-md-12 col-sm-12 col-xs-12 reference-growth-company">
                    <img src="@Url.Content("~/assets/images/shipbeat.png")" alt="">
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4 class="references-h4">Shipping API for e-commerce</h4>
                    <p class="solving-p">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla quam velit, vulputate eu pharetra nec, mattis ac neque. Duis vulputate commodo le</p>
                </div>
            </div>

        </div>
    </div>
</div>



<div class="row refference-case-study">
    <div class="reference-case-study-holder">
        @foreach (var ourCase in Model.Cases)
        {
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="reference-case-study-icon">
                        <a href=""><img src="@Url.Content("~/assets/images/case-study-white.pmg.png")" alt=""></a>
                    </div>
                    <div class="reference-case-study-line"></div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="reference-case-study-text">
                        <h4 class="reference-case-study-h4">@ourCase.Title</h4>
                        <p class="reference-case-study-p">@ourCase.Description</p>
                        <a href="@Url.Action("Index", new {controller = "Case", slug = ourCase.Slug})"><button class=" references-case-study-btn">READ MORE</button></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="row company-logo-section">
    <div class="index-wrapper">
        <div class="col-md-12 col-sm-6 col-xs-12 company-logo-margin">
            <h3 class="references-h3">Our customers include</h3>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin">
            <div class="company-logo-img-hodler">
                <a href="#"><img src="@Url.Content("~/assets/images/saxo.png")" alt=""></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin">
            <div class="company-logo-img-hodler">
                <a href="#"><img src="@Url.Content("~/assets/images/shipbeat.png")" alt=" "></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin">
            <div class="company-logo-img-hodler">
                <a href="#"><img src="@Url.Content("~/assets/images/saxo.png")" alt=""></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin">
            <div class="company-logo-img-hodler">
                <a href="#"><img src="@Url.Content("~/assets/images/usa-tours.png")" alt=""></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin"></div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin">
            <div class="company-logo-img-hodler">
                <a href="#"><img src="@Url.Content("~/assets/images/saxo.png")" alt=""></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin">
            <div class="company-logo-img-hodler">
                <a href="#"><img src="@Url.Content("~/assets/images/shipbeat.png")" alt=""></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin"></div>
    </div>
</div>


@*<div class="row wrapper">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <h3 class="references-h3">Customers in different growth stages</h3>
    </div>
</div>*@

@*<div class="row wrapper-padding">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="resourcess-img-container-left">
            <img src="@Url.Content("~/assets/images/references/saxo.png")" alt="saxo">
        </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12 references-project-text-left">
        <h4 class="references-h4">The most popular webshop in Denmark 2014</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis arcu nec dui ornare bibendum. In hac habitasse platea dictumst. Curabitur at odio in mauris ultricies convallis. Nam nec semper dui. Fusce pulvinar elit interdum efficitur malesuada. Nulla odio felis, ullamcorper at tellus non, laoreet vulputate nibh. Pellentesque in risus quis nulla vestibulum consequat a vel nunc. Phasellus aliquet euismod elit, eget dapibus augue bibendum quis. Vivamus congue fermentum diam, ac fermentum arcu semper vitae.</p>
    </div>
</div>

<div class="row wrapper-padding">
    <div class="col-md-8 col-sm-12 col-xs-12 references-project-text-right">
        <h4 class="references-h4">New startup in the finance industry</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis arcu nec dui ornare bibendum. In hac habitasse platea dictumst. Curabitur at odio in mauris ultricies convallis. Nam nec semper dui. Fusce pulvinar elit interdum efficitur malesuada. Nulla odio felis, ullamcorper at tellus non, laoreet vulputate nibh. Pellentesque in risus quis nulla vestibulum consequat a vel nunc. Phasellus aliquet euismod elit, eget dapibus augue bibendum quis. Vivamus congue fermentum diam, ac fermentum arcu semper vitae.</p>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="resourcess-img-container-right">
            <img src="@Url.Content("~/assets/images/references/USA-tours.png")" alt="usa-tours">
        </div>
    </div>
</div>

<div class="row wrapper-padding">
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="resourcess-img-container-left">
            <img src="@Url.Content("~/assets/images/references/USA-tours.png")" alt="usa-tours">
        </div>
    </div>
    <div class="col-md-8 col-sm-12 col-xs-12 references-project-text-left">
        <h4 class="references-h4">Travel agent for US trips</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis arcu nec dui ornare bibendum. In hac habitasse platea dictumst. Curabitur at odio in mauris ultricies convallis. Nam nec semper dui. Fusce pulvinar elit interdum efficitur malesuada. Nulla odio felis, ullamcorper at tellus non, laoreet vulputate nibh. Pellentesque in risus quis nulla vestibulum consequat a vel nunc. Phasellus aliquet euismod elit, eget dapibus augue bibendum quis. Vivamus congue fermentum diam, ac fermentum arcu semper vitae.</p>
    </div>
</div>

<div class="row wrapper-padding">
    <div class="col-md-8 col-sm-12 col-xs-12 references-project-text-right">
        <h4 class="references-h4">Shipping API for e-commerce</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed mollis arcu nec dui ornare bibendum. In hac habitasse platea dictumst. Curabitur at odio in mauris ultricies convallis. Nam nec semper dui. Fusce pulvinar elit interdum efficitur malesuada. Nulla odio felis, ullamcorper at tellus non, laoreet vulputate nibh. Pellentesque in risus quis nulla vestibulum consequat a vel nunc. Phasellus aliquet euismod elit, eget dapibus augue bibendum quis. Vivamus congue fermentum diam, ac fermentum arcu semper vitae.</p>
    </div>
    <div class="col-md-4 col-sm-12 col-xs-12">
        <div class="resourcess-img-container-right">
            <img src="@Url.Content("~/assets/images/references/shipbeat.png")" alt="shipbeat">
        </div>
    </div>
</div>

<div class="row refference-case-study">
    <div class="reference-case-study-holder">
        @foreach (var ourCase in Model.Cases)
        {
            <div class="col-md-3 col-sm-12 col-xs-12">

                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="reference-case-study-icon">
                        <a href=""><img src="@Url.Content("~/assets/images/case-study-white.png")" alt="case-study"></a>
                    </div>
                    <div class="reference-case-study-line"></div>
                </div>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="reference-case-study-text">
                        <h4 class="reference-case-study-h4">@ourCase.Title.ToUpper()</h4>
                        <p class="reference-case-study-p">@ourCase.Description</p>
                        <a href="@Url.Action("Index", "Case", new {slug = ourCase.Slug})">
                            <button class="references-case-study-btn">READ MORE</button>
                        </a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="row company-logo-section">
    <div class="index-wrapper">
        <div class="col-md-12 col-sm-6 col-xs-12 company-logo-margin">
            <h3 class="references-h3">Our customers include</h3>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin">
            <div class="company-logo-img-hodler">
                <a href="#"><img src="@Url.Content("~/assets/images/references/saxo.png")" alt="saxo"></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin">
            <div class="company-logo-img-hodler">
                <a href="#"><img src="@Url.Content("~/assets/images/references/USA-tours.png")" alt="usa-tours"></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin">
            <div class="company-logo-img-hodler">
                <a href="#"><img src="@Url.Content("~/assets/images/references/shipbeat.png")" alt="shipbeat"></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin">
            <div class="company-logo-img-hodler">
                <a href="#"><img src="@Url.Content("~/assets/images/references/saxo.png")" alt="saxo"></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin"></div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin">
            <div class="company-logo-img-hodler">
                <a href="#"><img src="@Url.Content("~/assets/images/references/USA-tours.png")" alt="usa-tours"></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin">
            <div class="company-logo-img-hodler">
                <a href="#"><img src="@Url.Content("~/assets/images/references/shipbeat.png")" alt="shipbeat"></a>
            </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12 company-logo-margin"></div>
    </div>
</div>*@