@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header {
    @RenderSection("Header", false)
}

<div class="row">
    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
        @RenderBody()
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
        @if (IsSectionDefined("sidebar"))
        {
            @RenderSection("sidebar")
        }
        else
        {
            <div id="sidebar">
                <div class="sidebar-holder">
                    <h2 class="sidebar-title ">Download our free PDF!</h2>
                    <p>"Modern development: 6 Mistakes you have to avoid"</p>
                    <!-- Begin MailChimp Signup Form -->
                    <div id="mc_embed_signup">
                        <form action="//jarboo.us9.list-manage.com/subscribe/post?u=d7f26f1c6e2ffe07ab5b7efd5&amp;id=60e680a9bd" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <div class="mc-field-group">
                                    <label for="email" class="col-md-12  col-sm-12 col-xs-12 control-label-case-study">E-mail:</label>
                                    <input type="email" value="" name="EMAIL" class="required email mail-input" id="mce-EMAIL" placeholder="E-Mail address">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display: none"></div>
                                    <div class="response" id="mce-success-response" style="display: none"></div>
                                </div>
                                <div style="position: absolute; left: -5000px;">
                                    <input type="text" name="b_d7f26f1c6e2ffe07ab5b7efd5_60e680a9bd" tabindex="-1" value="">
                                </div>
                                <div class="clear">
                                    <input type="submit" value="GET CASE" name="subscribe" id="mc-embedded-subscribe" class="button get-case-button-sidebar">
                                    <input type="hidden" name="JARBOO_PLA" id="JARBOO_PLA" value="" />
                                    <!--Change the value of hidden field if you want to use this field somewhere else too-->
                                </div>
                            </div>
                        </form>
                    </div>
                    <!--End mc_embed_signup-->
                </div>

                <div class="sidebar-holder">
                    <h2 class="sidebar-title">Need advice or help?</h2>
                    <p>Come talk to us and get FREE advice!</p>
                    <a href="@Url.Action("DiscussProject", "Lead")"><button class="CTA-button-sidebar">DISCUSS A PROJECT</button></a>
                </div>

                @{Html.RenderAction("RecentlyPosts", "Page");}
            </div>
        }
    </div>
</div>

@Html.Partial("_DiscussProject")

@section scripts {
    @RenderSection("scripts", false)
}
