@using Website.Models.ExtensionMethods
@model List<Services.Domain.Pages.JarbooPage>
@{
    Layout = "_SideBarLayout.cshtml";
    ViewBag.Title = "Blog";
    var page = (int)ViewBag.Page;
    int? totalPages = null;
    var artcile = Model.FirstOrDefault();
    if (artcile != null)
    {
        totalPages = artcile.Pages;
    }
}

<div class="row content-row">
    <div class="content-wrapper">
        @foreach (var post in Model)
        {
            <div class="col-md-12 col-sm-12 col-xs-12 section1-text blog-list">
                <h3 class="blog-title">
                    @Html.ActionLink(post.Title, "Blog", new { controller = "Page", slug = post.Slug })
                    <br />
                    <span><i>Published on @post.DateCreated.DisplayAsDate()</i></span>
                </h3>
                <p class="excerpt blog-p">
                    @Html.Raw(post.Content.FirstSentence())...
                </p>
                <a href="@Url.Action("Blog", new { controller = "Page", slug = post.Slug })"><button class="read-more-button-blog-listing">Read more</button></a>
            </div>
        }

        <div>
            @if (totalPages != null && totalPages > 1)
            {
                for (int i = 1; i <= totalPages; i++)
                {

                    if (page == i)
                    {

                        <span class="btn btn-primary pingnation-btn-active">@i</span>
                    }

                    if (page != i)
                    {
                        <a href="@Url.Action("Blogs", new {controller = "Page", page = i})" class="btn btn-primary pingnation-btn">@i</a>
                    }
                }
            }
        </div>
    </div>
</div>
